streamlit
openai
pytube
youtube-transcript-api
langchain 
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.18.1
openai==0.27.6
tiktoken==0.4.0
fitz==0.0.1.dev2
nltk==3.8.1
altair==4.2.2   
faiss-cpu==1.7.4
fastapi==0.98.0
langchainplus-sdk==0.0.17
openai==0.27.6
Pillow==9.5.0
PyMuPDF==1.22.5
PyPDF2==3.0.1
SQLAlchemy==2.0.17
streamlit==1.18.1
tabula==1.0.5
tabula-py==2.7.0